<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LMChainProgrammingTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A513F08A1E5EB3D900A44BEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A513F0A31E5EB3D900A44BEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A513F0AE1E5EB3D900A44BEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
